<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < userlist.length; i++) {
          list += '<li>' + userlist[i].username + ': ' + userlist[i].email +'</a></li>';
        }
      %>
      <%- list %>
    </ul>
    <form id="formNewUser" name="newuser" method="get" action="/newuser">
      <button id="btnSubmit" type="submit">Add a New User!</button>
    </form>
  </body>
</html>